
.h{
  margin-left: 120px;
  padding: 41px 20px;
  
  font-family: 'Segoe UI', sans-serif;
  justify-content: space-around;
  
}

.h h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
}

span{
  color: #0073e6;
}

.h p {
  color: #555;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.search-bar {
  display: flex;
 width: 85%;
  flex-wrap: wrap;

}

.search-bar input { 
  padding: 12px 14px; 
   font-size: 1rem;
  /* width: 400px; */
   border: 1px solid #ccc; 
  border-radius: 4px;
   flex:1
}

 /* .search {
  margin-top: 3px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;  */
  /* width: auto;
  margin-left: auto; */
/* }   */

.search:hover {
  background-color: #005bb5;
} 